<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Booking</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/booking">Book Table</a>
        <a href="/status">Booking Status</a>
        <a href="/ourmenu">Our Menu</a>
    </nav>
    
</body>
</html>
